///imports
@import 'components/reset'
@import 'components/contentbox'
@import 'components/nav'
@import 'components/logo'
@import 'components/projects'
//master controls

.background
  height: 100vh
  widht: 100vw
  background:
    image: url('imgs/background.png')
    size: cover
    repeat: no-repeat
  display: flex
  justify-content: center
  align-items: center
