.contact
  position: absolute
  display: flex
  align-items: center
  bottom: 0
  z-index: 40
  height: 66px
  width: 100%
  font-size: 2em
  font-weight: 300
  color: rgba(255,255,255,0.8)
  box-sizing: border-box
  user-select: none
  span
    padding-left: 40px
    padding-right: 50px
    margin-bottom: 50px
    cursor: pointer
