.projects
  height: 0px
  width: 0px
  background-color: rgba(0,0,0,.2)
  position: absolute
  transform: rotate(45deg)
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden
  transition: all 1s ease-in-out
  z-index: 4

.project-board
  height: 60vh
  position: absolute
  width: 100vh
  transform: rotate(-45deg)
  display: flex
  justify-content: center
  align-items: center
  background:
    image: url('imgs/paper-min.png')
    size: cover
    position: center
    repeat: no-repeat
.decoration
    height: 0px
    width: 0px
    border: 8px solid transparent
    position: absolute
    transform: rotate(45deg)
    transition: all 1s ease-in-out
    z-index: 4
.arrow-left
  height: 0px
  width: 0px
  position: absolute
  z-index: 20
  transition: all 1s ease-in-out

  background:
    image: url('imgs/arrow-left.png')
    size: contain
    repeat: no-repeat
    position: center
.arrow-right
  height: 0px
  width: 0px
  position: absolute
  z-index: 20
  transition: all 1s ease-in-out
  background:
    image: url('imgs/arrow-right.png')
    size: contain
    repeat: no-repeat
    position: center
  &:hover
    cursor: pointer
.project-content
  height: 90%
  width: 3700px
  background-color: black
  z-index: 5
  position: absolute
  box-shadow: 0px 14px 20px 4px rgba(0,0,0,0.3)
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  .idea
    height: 100%
    width: 600px
    padding: 0px 50px
    &:hover
      cursor: pointer

  .one
    background:
      image: url('imgs/portfolio-idea-min.png')
      size: contain
      position: center
      repeat: no-repeat
  .two
    background:
      image: url('imgs/cchange-min.png')
      size: contain
      position: center
      repeat: no-repeat
  .three
    background:
      image: url('imgs/bigbuffalo-min.png')
      size: contain
      position: center
      repeat: no-repeat

  .four
    background:
      image: url('imgs/bluefloppy-min.png')
      size: contain
      position: center
      repeat: no-repeat
  .five
    background:
      image: url('imgs/DROWNER-min.png')
      size: contain
      position: center
      repeat: no-repeat
  .six
    background:
      image: url('imgs/largeiconcopy13-min.png')
      size: contain
      position: center
      repeat: no-repeat
  .seven
    background:
      image: url('imgs/whitecasette-min.png')
      size: contain
      position: center
      repeat: no-repeat
